<p-card>
    <div class="w-100 d-flex justify-content-between">
        <h1 class="fs-4 text-muted">Control de actividades</h1> <button pButton icon="pi pi-calendar" label="ver cronograma de actividades" [routerLink]="['/admin/activities/calendar']"></button>
        
   
    </div>
    <div class="container mt-5">
       
        <div class="w-100 d-flex align-items-center justify-content-between mb-2">
            <div>
             <button type="button" pButton icon="pi pi-file-excel" class="p-button-success p-mr-2"
                    pTooltip="Descargar excel" (click)="exportExcel()" tooltipPosition="bottom"></button>
            </div>
            <div>
                <button pButton label="" class="p-button" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="buscar" (input)="dt1.filterGlobal(buscar, 'contains')"
                        placeholder="Buscar" />
                </span>
            </div>
        </div>
        <p-table [value]="activities" #dt1 responsiveLayout="scroll" dataKey="_id" [rows]="5" [totalRecords]="totalRows"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,25,50]" styleClass="p-datatable-sm" [paginator]="true"
            currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros"
            [lazy]="true" (onLazyLoad)="loadActivities($event)">
    
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="codigo">
                        Codigo
                        <p-sortIcon field="codigo"></p-sortIcon>
                    </th>
                    <th pSortableColumn="area">
                        Area
                        <p-sortIcon field="area"></p-sortIcon>
                    </th> 
                    <th pSortableColumn="fechainicio">
                        Fecha Inicio
                        <p-sortIcon field="fechainicio">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="fechafin">
                        Fecha Fin
                        <p-sortIcon field="fechafin">
                        </p-sortIcon>
                    </th>
                    
                    <th pSortableColumn="estado">
                        Estado
                        <p-sortIcon field="estado"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-activity>
                <tr style="font-size:.9em">
                    <td>
                        {{activity.codigo}}
                    </td>
                    <td >
                        {{activity.area}}
                    </td>
                 
                    <td *ngIf="activity.fechainicio">
                        {{activity.fechainicio|date:"dd/MM/yyyy"}}
                    </td>
                    <td *ngIf="!activity.fechainicio" class="text-center">
                      -
                    </td>
                    <td *ngIf="activity.fechafin">
                        {{activity.fechafin|date:"dd/MM/yyyy"}}
                    </td>
                    <td *ngIf="!activity.fechafin" class="text-center">
                       -
                    </td>
                    <td class="text-black">
                        <span *ngIf="activity.estado=='pendiente'" class="p-tag p-tag-warning w-75">Pendiente</span>
                        <span *ngIf="activity.estado=='proceso'" class="p-tag p-tag-info w-75" >Desarrollo</span>
                        <span *ngIf="activity.estado=='terminado'" class="p-tag p-tag-success w-75">Finalizado</span>
                        <span *ngIf="activity.estado=='cancelado'" class="p-tag p-tag-danger w-75" >Cancelado</span>
                    </td>
                    <td>
                        <button pButton icon="pi pi-eye" pTooltip="Detalles actividad" [routerLink]="['/admin/activities/detail',activity._id]" tooltipPosition="bottom"
                            class="p-button-rounded p-button-info p-mr-1"></button>&nbsp;
                        <button pButton icon="pi pi-pencil" [disabled]="activity.estado=='terminado' || activity.estado=='cancelado'"  pTooltip="Editar actividad" [routerLink]="['/admin/activities/edit',activity._id]" tooltipPosition="bottom"
                            class="p-button-rounded p-button-success p-mr-1"></button>&nbsp;
                        <button pButton icon="pi pi-trash" pTooltip="Dar de baja actividad" tooltipPosition="bottom"
                            class="p-button-rounded p-button-icon p-button-warning" (click)="delete(activity)"  [disabled]="activity.estado=='terminado' || activity.estado=='cancelado'"  ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-confirmDialog acceptLabel="Si" rejectLabel="No"	 header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
        <p-toast></p-toast>
    </div>
</p-card>