<p-card>
    <div class="row">
        <div class="col-md-4 mt-2">
            <ng-select name="transaccion" [(ngModel)]="transaccion" [searchable]="false">
                <ng-option [value]="'ingreso'">Ingreso de productos</ng-option>
                <ng-option [value]="'salida'">Salida de productos</ng-option>
            </ng-select>
        </div>
        <div class="col-md-4 mt-2"> <button pButton label="Continuar" (click)="goTrasaction()"></button></div>
        <div class="col-md-4 mt-2">
          </div>
    </div>
    <div class="row mt-4">
        <h2 class="fs-5 text-muted mb-2">Historial de transacciones</h2>
        <div class="w-100 d-flex align-items-center justify-content-between mb-2">
         <div>
            <button pButton icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success me-2"></button>
            <button pButton icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning text-white "></button>
      
         </div>
            <div>
                <button pButton label="" class="p-button" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="buscar" (input)="dt1.filterGlobal(buscar, 'contains')"
                        placeholder="Buscar" />
                </span>
            </div>
        </div>
        <p-table [value]="transactions" #dt1 responsiveLayout="scroll" dataKey="_id" [rows]="5" [totalRecords]="totalRows"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,25,50]" styleClass="p-datatable-sm" [paginator]="true"
        currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros"
        [lazy]="true" (onLazyLoad)="loadTransactions($event)">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="codigo">
                    Codigo
                    <p-sortIcon field="codigo"></p-sortIcon>
                </th>
                <th pSortableColumn="preciounidad">
                    Precio
                    <p-sortIcon field="preciounidad"></p-sortIcon>
                </th>
                
                <th pSortableColumn="cantidad">
                    Cantidad
                    <p-sortIcon field="cantidad"></p-sortIcon>
                </th>
             
                <th pSortableColumn="fecha">
                    Fecha
                    <p-sortIcon field="fecha">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="tipo">
                    Tipo
                    <p-sortIcon field="tipo">
                    </p-sortIcon>
                </th>
              
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction>
            <tr>
                <td>
                    {{transaction.codigo}}
                </td>
                <td>
                 S/. {{transaction.preciounidad}}
                </td>
                <td>
                    {{transaction.cantidad}} 
                </td>
                <td >
                    {{transaction.fecha|date:'dd/MM/yyyy'}}
                </td>
               
                <td class="text-black">
                    <span *ngIf="transaction.tipo=='entrada'" class="p-tag p-tag-success w-75">{{transaction.tipo}}</span>
                    <span *ngIf="transaction.tipo!='entrada'" class="p-tag p-tag-danger w-75" >{{transaction.tipo}}</span>
                </td>
                <td>
                    
                    <button pButton icon="pi pi-search" pTooltip="Detalle transaccion" tooltipPosition="bottom"
                        class="p-button-rounded p-button-icon p-button-primary" [routerLink]="['/admin/stock/detail',transaction._id]"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
    
 
</p-card>