<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <p-card>
            <form action="" validate (submit)="updateUnit(unit)" #formRegister="ngForm">
                <div class="w-100">
                    <h3 class="text-muted">Editar unidad</h3>
                </div>
                <hr class="mb-4" />
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <label for="" class="label-form-group">
                            Nombre
                        </label>
                    </div>
                    <div class="col-md-8 mt-3">
                        <input type="text" name="nombre" required [(ngModel)]="unit.nombre"
                            class="form-control">
                    </div>
                    <div class="col-md-4 mt-3">
                        <label for="" class="label-form-group">
                            Unidad
                        </label>
                    </div>
                    <div class="col-md-8 mt-3">
                        <input type="text" name="unidad" required [(ngModel)]="unit.unidad"
                            class="form-control">
                    </div>
                    <div class="col-md-4 pt-3"> <label for="" class="label-form-group">
                            Estado
                        </label>
                    </div>
                    <div class="col-md-8 pt-3">
                        <ng-select name="estado" class="form-select w-100" [(ngModel)]="unit.estado">
                            <ng-option [value]="'activo'">Activo</ng-option>
                            <ng-option [value]="'baja'">Baja</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="w-100 d-flex justify-content-end mt-4">
                    <button pButton type="submit" [disabled]="formRegister.invalid" [loading]="loadingRegister"
                        class="btn btn-primary" icon="pi pi-save" label="Guardar"></button>
                </div>
            </form>
        </p-card>
    </div>
    <div class="col-md-3"></div>
    <p-toast></p-toast>
</div>