<div class="container">
    <p-card>
        <form action="" validate (submit)="formRegister.valid && registerInput()" #formRegister="ngForm" >
        <div class="row">
            <h1 class="fs-4 text-muted">Registrar entrada de productos</h1>
            <hr>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Producto</label>
                    <ng-select name="producto" (change)="selectedProduct()" [required]="true" [(ngModel)]="input.productoid" [notFoundText]="'No se encontraron productos'" #producto (search)="searchProduct($event.term)">
                        <ng-option *ngFor="let product of products"  [value]="product._id">{{product.nombre}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="codigo">Codigo</label>
                    <input type="text" [(ngModel)]="input.codigo" disabled="true" required name="codigo" id="codigo" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" [(ngModel)]="input.cantidad"  required name="cantidad" id="cantidad" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="factura">Factura</label>
                    <input type="text" [(ngModel)]="input.factura" required name="factura" id="factura" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fecha">Fecha</label>
                    <input type="date" name="fecha" id="fecha" required [(ngModel)]="input.fecha" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <textarea class="form-control" [(ngModel)]="input.descripcion" required name="descripcion" id="descripcion"></textarea>
                </div>
            </div>

        </div>
        <div class="w-100 mt-4 d-flex justify-content-end">
            
            <button pButton label="Volver" class="p-button-danger mx-3" [routerLink]="['/admin/stock']" icon="pi pi-angle-double-left"></button>
            <button pButton type="submit" [disabled]="formRegister.invalid" [loading]="ladingRegister" label="Guardar" icon="pi pi-save"></button>
        </div>
    </form>
    </p-card>
    <p-toast></p-toast>
</div>